	<tr id="row_<%=user.id%>">
		<td><input type="text" value="<%= user.name%>" class="form-control" name="name"  readonly /></td>
		<td><input type="text" value="<%= user.email%>" class="form-control" name="email"  readonly /></td>
		<td><input type="text" value="<%= user.level%>" class="form-control" name="level"  readonly /></td>
		<td><%= moment(user.updatedAt).format("YYYY-MM-DD HH:mm:ss") %></td>

		<td>
			<span class="glyphicon glyphicon-save saveButton hidden" data-method="GET" data-url="/user/update/<%= user.id%>"></span>
				&nbsp;&nbsp;&nbsp;
			<i class="fa fa-trash deleteButton hidden" data-method="GET" data-url="/user/destroy/<%= user.id%>"></i>
			<!-- <a href="/user/destroy/<%= user.id%>" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a> -->
		</td>
	</tr>
